<%= render "shared/header" %>
<div class="title-contents">
  <main class="main">
    <div class="inner">
      <div class="main-topics">
        <h1>・Topics</h1>
      </div>
      <div class="card__wrapper">
        <%# 投稿機能実装後、部分テンプレート投稿一覧を表示する %>
        <%# <%= render partial: '#', collection: '#' %> 
      </div>
    </div>
  </main>
</div>
<%= render "shared/footer" %>